html[data-theme="light"] .gallery:not(.page) {
  --background-input: rgb(255, 255, 255);
}
html[data-theme="dark"] .gallery:not(.page) {
  --background-input: rgb(48, 48, 48);
}

.gallery:not(.page) {
  height: 100%;
  max-width: 402px;
  display: flex;
  flex-direction: column;

  .gallery-search-field {
    input {
      outline: none;
      border: 0;
      border-bottom: 1px solid rgba(68, 68, 68, 0.397);
      padding: 0 5px;
      text-align: center;
      font-size: 0.9rem;
      font-family: Alata, sans-serif;
      color: var(--text-color-primary);
      background-color: var(--background-input);
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.15);
      height: 37px;
      width: 100%;
    }
  }

  .gallery-list-scrollable {
    overflow-y: auto;
  }

  ul.gallery-list {
    list-style: none;
    width: 100%;
    overflow-y: auto;
    background-color:rgb(243, 241, 241);

    @include lg {
      padding-left: 5px;
      padding-right: 5px;
    }

    .gallery-item {
      cursor: pointer;
      & + .gallery-item {
        margin-top: 8px;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: auto;
        min-height: 1px;
      }
    }
  }

  .gallery-text-bottom {
    padding: 14px;
    text-align: center;

    @for $i from 0 to 3 {
      span:nth-of-type(#{1 + $i}) {
        animation: showHideDot 2.5s ease-in-out infinite;
        animation-delay: $i * 0.2s;
      }
    }

    &.gallery-error {
      p {
        margin-bottom: 15px;
      }
    }
  }
}

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}
