.draggable {
  background-color: transparent;
  position: absolute;
  --draggable-color: var(--draggable-area-color);
  --bubble-size: 18px;
  z-index: 1;

  .draggable-resize,
  .draggable-rotate {
    display: none;
  }

  &.draggable-active {
    --draggable-color: var(--blue-primary);
    z-index: 2;
  }

  &.draggable-show {
    cursor: move;

    &::after,
    &::before {
      content: '';
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
    }
    &::after {
      width: calc(100% - var(--bubble-size));
      height: 100%;
      border-top: 1px dotted var(--draggable-color);
      border-bottom: 1px dotted var(--draggable-color);
    }
    &::before {
      width: 100%;
      height: calc(100% - var(--bubble-size));
      border-left: 1px dotted var(--draggable-color);
      border-right: 1px dotted var(--draggable-color);
    }

    .draggable-resize {
      display: block;
      width: var(--bubble-size);
      height: var(--bubble-size);
      border-radius: 50%;
      background-color: var(--draggable-color);
      z-index: 2;
      position: absolute;
      transform: translate(-50%, -50%);
      border: 1px solid #ffffff;

      &[data-side='nw'],
      &[data-side='se'] {
        cursor: nwse-resize;
      }
      &[data-side='ne'],
      &[data-side='sw'] {
        cursor: nesw-resize;
      }
      &[data-side^='n'] {
        top: 0;
      }
      &[data-side^='s'] {
        top: 100%;
      }
      &[data-side$='e'] {
        left: 100%;
      }
      &[data-side$='w'] {
        left: 0;
      }
    }

    .draggable-rotate {
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--draggable-color);
      position: absolute;
      padding: 3px;
      border: 1px solid #ffffff;
      height: 20px;
      width: 20px;
      cursor: move;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      svg {
        fill: rgba($color: #ffffff, $alpha: 0.6);
      }
    }
  }
}
