.lang-selector {
  position: relative;
  font-size: 12px;

  @media (max-width: #{$screen-md-min}) {
    .lang-selector-btn {
      background-color: transparent;
      box-shadow: none!important;
    }
  }

  &-btn {
    padding: 8px 11px;
    font-weight: 600;
    font-size: 1em;
    line-height: 16px;
    box-shadow: none!important;
    text-transform: uppercase;
    z-index: 9999999;

    @include md {
      padding: 12px 14px;
    }

    .lang-flag {
      width: 17px;
    }
  }

  &-popup {
    background: var(--background-primary);
    position: absolute;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,.4);
    transform: rotate3d(1,1,0,15deg);
    transition-property: transform,opacity,visibility;
    transition-duration: .3s;
    transition-timing-function: ease;
    will-change: transform, opacity;
    right: 0;
    text-align: left;
    top: 100%;
    margin-top: 5px;
    z-index: 999999;
    line-height: 26px;
    border-radius: 4px;
    width: 100%;
    font-size: 1.1em;
    min-width: 88px;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }


  &.lang-selector-active .lang-selector-popup {
    visibility: visible;
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }
}

// because in modal too
.lang-selector-list {
  .lang-selector-list-item {
    padding: 9px 11px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.modal#lang-selector-modal .modal-content {
  .lang-selector-list .lang-selector-list-item {
      padding: 16px 11px;
  }
}