.header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  background-color: var(--blue-secondary);

  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  z-index: 9999;
  position: relative;

  & > div {
    flex: 3;
    display: flex;
    align-items: center;

    &.center-column {
      flex: 1;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      z-index: 2;

      a {
        display: block;
        .logo {
          width: 250px;
        }
      }
    }

    &:first-child {
      align-self: flex-start;
      justify-content: flex-start;
      position: relative;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .github-corner {
    $size: 38px;
    position: absolute;
    left: 6px;
    top: 0;
    height: $size;
    width: $size * 2;
    border-bottom-left-radius: $size * 2;
    border-bottom-right-radius: $size * 2;
    background: var(--white);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    overflow: hidden;
    display: none;

    .github-svg {
      color: #24292e;
      position: absolute;
      top: -39px;
      left: 6px;
      width: 66px;
      transform: rotate(135deg);
      transition: top 0.3s;
    }

    &:hover {
      .github-svg {
        top: -34px;
      }
      .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
      }
    }

    @include sm {
      display: block;
    }
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform:rotate(0)
    }
    20%,
    60% {
      transform:rotate(-25deg)
    }
    40%,
    80% {
      transform:rotate(10deg)
    }
  }

  @media (max-width:500px) {
    .github-corner:hover .octo-arm {
      animation: none
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }

  a {
    text-decoration: none;
  }

  .button-export {
    background-color: var(--background-primary);
    border: 1px solid var(--input-border-color);
    text-transform: uppercase;
    display: none;
    @include md {
      display: block;
    }

    &[data-theme="light"] {
      color: var(--blue-primary);
    }
    &[data-theme="dark"] {
      color: var(--white);
    }
  }

  .lang-selector,
  .theme-button {
    @include sm {
      margin-right: 10px;
    }
  }

  .theme-button {
    background: transparent;
    box-shadow: none!important;
    font-size: 1.05rem;
    &[data-theme="light"] {
      color: rgb(226, 189, 0);
    }
    &[data-theme="dark"] {
      color: rgb(255, 255, 0);
    }

    position: absolute;
    left: 10px;

    @include sm {
      position: static;
      left: auto;
    }
  }

  .button-export svg + span,
  .lang-selector svg + span {
    display: none;
    @include md {
      display: inline;
    }
  }
}
