.error-boundary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: inherit;
  flex: 1;

  a {
    margin-top: 10px;
    color: var(--blue-secondary);
  }
}
