.Error-boundary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: inherit;

  #error-image {
    width: 200px;
    display: inline-block;
  }
}
