.wrapper-canvas {
  height: 100%;
  width: 100%;
  position: relative;

  .wrapper-canvas-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .wrapper-canvas-container {
    z-index: 2;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .canvas {
    z-index: -1;
    position: relative;
  }
}
