.studio-aside {
  overflow: hidden;
  background-color: var(--background-primary);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  z-index: 1;
  position: relative;
  order: 1;

  @include lg {
    flex-direction: column;
    width: var(--width-aside);
    height: var(--height-body);
    order: 3;
  }

  .studio-aside-header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-shrink: 0;

    @include lg {
      height: 50px;
    }

    .studio-aside-header-btn {
      flex: 1;
      position: relative;
      border-radius: 0;
      font-size: 24px;
      color: var(--white);

      &.studio-aside-header-btn-active {
        background-color: var(--blue-secondary);
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .studio-aside-content {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;

    .tab {
      height: 100%;
    }
  }
}