html[data-theme="light"] .accordion {
  --text-color-trigger: #ffffff;
  --background-trigger-accordion: rgb(204, 204, 204);
  --background-content-accordion: rgb(255, 255, 255);
}
html[data-theme="dark"] .accordion {
  --text-color-trigger: rgb(212, 212, 212);
  --background-trigger-accordion: rgb(88, 88, 88);
  --background-content-accordion: rgb(68, 68, 68);
}

.accordion {
  display: flex;
  flex-direction: column;
  --accordion-duration: unset;

  .accordion-trigger {
    background-color: var(--background-trigger-accordion);
    cursor: pointer;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    width: 100%;

    .accordion-title {
      font-weight: 600;
      font-size: 14px;
      max-width: 60%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: var(--text-color-trigger);
      height: 1rem;
    }

    .accordion-remove-text {
      background-color: transparent;
      border: 0;
      color: #ffffff;
      outline: none;
      font-size: 14px;
      &:hover {
        color: rgba($color: #ffffff, $alpha: 0.6);
        cursor: pointer;
      }
    }
  }

  .accordion-content {
    background-color: var(--background-content-accordion);
    overflow: hidden;
    transition-property: max-height;
    transition-timing-function: ease;
    transition-duration: var(--accordion-duration);
    will-change: max-height, height;
  }

  & + .accordion .accordion-trigger {
    border-top: 1px solid rgba(255, 255, 255, 0.478);
  }
}
