.export {
  display: flex;
  flex-direction: column;
  width: 100%;

  .export-title {
    text-align: center;
    font-size: 1.55em;
  }

  .meme-wrapper-img {
    position: relative;
    text-align: center;

    .meme-img {
      margin-top: 20px;
      max-width: 100%;
      max-height: 490px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    &::after {
      content: '';
      z-index: 2;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
    }
  }

  .meme-info-size {
    padding: 5px 1px;
    color: var(--text-color-primary);
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
    opacity: 0.44;
  }

  .meme-actions-share {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > .button-export {
      width: 100%;
      max-width: 300px;
    }

    @include sm {
      flex-direction: row;
    }

    a {
      text-decoration: none;
    }

    .button-export {
      text-transform: uppercase;
      margin: 5px 10px;
      position: relative;

      .icon-arrow-circle-down,
      .icon-twitter {
        margin-right: 7px;
      }

      &#export-twitter {
        background-color: #1DA1F2;
        color: #ffffff;
        &:hover {
          background-color: rgb(79, 174, 233);
        }
      }

      &#export-copy {
        background-color: #6a7b9a;
        color: #ffffff;
        &:hover {
          background-color: #859ac0
        }

        &::before {
          width: 200px;
          max-width: none;
        }
      }

      .feature-test {
        position: absolute;
        right: 6px;
        top: 3px;

        svg {
          color: rgba($color: #ffffff, $alpha: 0.6);
          width: 9px;
        }
      }
    }
  }

  .error-export,
  .copied-export {
    text-align: center;
    display: block;
    padding-top: 7px;
    font-size: 0.88rem;
  }

  .error-export {
    color: rgb(255, 62, 62);
  }

  .copied-export {
    color: rgb(7, 158, 7);
  }
}