.export {
  display: flex;
  flex-direction: column;
  width: 100%;

  .export-title {
    text-align: center;
    font-size: 1.55em;
  }

  .meme-wrapper-img {
    position: relative;
    text-align: center;

    .meme-img {
      margin-top: 20px;
      max-width: 100%;
      max-height: 490px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    &::after {
      content: '';
      z-index: 2;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
    }
  }

  .meme-info-size {
    padding: 3px 1px;
    color: var(--text-color-primary);
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    opacity: 0.44;
  }

  .meme-actions-share {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > .button-export {
      width: 100%;
      max-width: 300px;
    }

    @include sm {
      flex-direction: row;
    }

    a {
      text-decoration: none;
    }

    .button-export {
      text-transform: uppercase;
      margin: 10px;
      .icon-arrow-circle-down,
      .icon-twitter {
        margin-right: 7px;
      }
      &#export-twitter {
        background-color: #1DA1F2;
        color: #ffffff;
        &:hover {
          background-color: rgb(79, 174, 233);
        }
      }
    }
  }
}