@import 'reset';
@import 'transitions';
@import './global/variables';
@import "~nprogress/nprogress.css";

html {
  font-size: 16px;
}

body {
  font-family: 'Alata', sans-serif;
  color: var(--text-color-primary);
  background-color: var(--background-primary);

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  #app-root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: relative;
    background: url('/images/particles.svg') no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.container {
  max-width: 1170px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  flex: 1;
  display: flex;
  min-height: inherit;
  flex-direction: column;
  width: 100%;

  & > div.page {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div.content-one {
      flex: 1;
    }

    &.page-studio {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
    }
  }
}

.export {
  display: flex;
  flex-direction: column;
  width: 100%;

  .export-title {
    text-align: center;
    font-size: 1.55em;
  }

  .meme-wrapper-img {
    position: relative;
    text-align: center;

    .meme-img {
      margin-top: 20px;
      max-width: 100%;
      max-height: 490px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    &::after {
      content: '';
      z-index: 2;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
    }
  }

  .meme-info-size {
    padding: 3px 1px;
    color: var(--text-color-primary);
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    opacity: 0.44;
  }

  .meme-actions-share {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > .button-export {
      width: 100%;
      max-width: 300px;
    }

    @include sm {
      flex-direction: row;
    }

    a {
      text-decoration: none;
    }

    .button-export {
      text-transform: uppercase;
      margin: 10px;
      .icon-arrow-circle-down,
      .icon-twitter {
        margin-right: 7px;
      }
      &#export-twitter {
        background-color: #1DA1F2;
      }
    }
  }
}

[data-tooltip] {
  position: static;

  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  @include lg {
    &:not(:disabled):hover::before,
    &:not(:disabled):hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &::before {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 6px 5px;
    max-width: 160px;
    border-radius: 3px;
    color: #ffffff;
    background-color: var(--background-tooltip);
    content: attr(data-tooltip);
    text-align: center;
    font-size: 11.5px;
    line-height: 1.2;
  }

  &::after {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--background-tooltip);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  @include lg {
    position: relative;
  }
}

.modal#gallery-tab {
  .modal-content {
    height: 100%;
    overflow-y: hidden;
    padding: 15px 0;
    .gallery {
      max-height: 100%;
      max-width: none;
      margin: 0;
      padding: 0 20px;
    }
  }
}

.modal#customization-tab {
  .modal-content {
    .customization-empty {
      padding: 30px;
    }
    .customization-not-empty {
      min-height: 172px;

      section.accordion:last-of-type {
        margin-bottom: 15px;
      }

      .accordion-active + .accordion .accordion-trigger {
        border-top-color: transparent;
      }

      .customization-textbox-section {
        border: 1px solid var(--background-trigger-accordion);
        padding: 17px 18px;
      }

      .add-text-button {
        margin-top: auto;
      }
    }
  }
}
