@import 'reset';
@import 'transitions';
@import './global/variables';
@import "~nprogress/nprogress.css";

html {
  font-size: 16px;
}

img:-moz-loading {
  visibility: hidden;
}

img {
  color: var(--text-color-primary);
  vertical-align: middle;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Alata', sans-serif;
  color: var(--text-color-primary);
  background-color: var(--background-primary);

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  #app-root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: relative;
  }
}

.live-background {
  background-image: url('/images/particles.svg');
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;

  @include sm {
    background-position: center center;
  }
}

.container {
  max-width: 1170px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include md {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main-wrapper {
  flex: 1;
  display: flex;
  min-height: inherit;
  flex-direction: column;
  width: 100%;

  & > div.page {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div.content-one {
      flex: 1;
    }
  }
}

.spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
}

[data-tooltip] {
  position: static;

  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  @include lg {
    &:not(.tooltip-disabled):hover::before,
    &:not(.tooltip-disabled):hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &::before {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 6px 5px;
    max-width: 200px;
    line-height: 1.45;
    border-radius: 3px;
    color: #ffffff;
    background-color: var(--background-tooltip);
    content: attr(data-tooltip);
    text-align: center;
    font-size: 11.5px;
    text-transform: none;
  }

  &::after {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--background-tooltip);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  @include lg {
    position: relative;
  }
}

.modal#gallery-tab {
  .modal-content {
    height: 100%;
    overflow-y: hidden;
    padding: 15px 0;

    .gallery {
      max-height: 100%;
      max-width: none;
      margin: 0;

      .gallery-search-field,
      .gallery-list {
        padding: 0 20px;
      }

      .gallery-search-field input {
        border: 1px solid var(--input-border-color);
      }

      .gallery-list {
        background-color: transparent;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        .gallery-item {
          width: 50%;
          margin-top: 0;

          img {
            border: 1px solid var(--blackOrWhite);
            height: 100%;
          }
        }
      }
    }
  }
}

.modal#customization-tab {
  .modal-content {
    .customization-empty {
      padding: 30px;
    }
    .customization-not-empty {
      min-height: 172px;

      section.accordion:last-of-type {
        margin-bottom: 15px;
      }

      .accordion-active + .accordion .accordion-trigger {
        border-top-color: transparent;
      }

      .customization-textbox-section {
        border: 1px solid var(--background-trigger-accordion);
        padding: 17px 18px;
      }

      .add-item-button {
        margin-top: auto;
      }
    }
  }
}
