html[data-theme="light"] .textarea-exdended {
  background-color: var(--white);
}
html[data-theme="dark"] .textarea-exdended {
  background-color: var(--background-secondary);
}

.textarea-exdended {
  height: 108px;
  width: 100%;
  font-size: 14px;
  display: block;
  font-family: Arial;
  outline: none;
  resize: none;
  border-radius: 2px;
  border: 2px solid var(--input-border-color);
  background-color: var(--background-secondary);
  color: var(--text-color-primary);

  &::placeholder {
    font-size: 12px;
    color: #c8c8c8;
  }
}
