.header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  background-color: var(--blue-light);

  & > div {
    flex: 3;
    display: flex;
    align-items: center;
    &.center-column {
      flex: 1;
    }
    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 32px;
    letter-spacing: 0;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
  }

  .button-export {
    padding: 12px 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    background-color: #ffffff;
    color: var(--blue);
    text-transform: uppercase;

    .icon-arrow-circle-down {
      margin-right: 7px;
    }
  }

  .lang-selector {
    margin-right: 10px;
  }
}
