.button {
  background-color: var(--blue);
  font-family: Alata, sans-serif;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  outline: none;
  transition-property: opacity, box-shadow;
  transition-duration: 0.3s;
  letter-spacing: 0.5px;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  appearance: none;
  text-rendering: auto;
  text-decoration: none;
  margin: 0;

  svg + span {
    margin-left: 7px;
  }

  &.button-small {
    padding: 13px 18px;
    font-size: 13px;
    line-height: 19px;

    @include sm {
      padding: 14px 20px;
      font-size: 19px;
      line-height: 21px;
    }

    @include md {
      padding: 15px 22px;
      font-size: 20px;
      line-height: 23px;
    }

    @include lg {
      padding: 21px 53px;
      font-size: 22px;
      line-height: 29px;
    }
  }
  &.button-medium {
    padding: 10px 18px;
    font-size: 15px;
    line-height: 22px;

    @include sm {
      padding: 10px 13px;
      font-size: 16px;
      line-height: 22px;
    }

    @include md {
      padding: 12px 17px;
      font-size: 14px;
      line-height: 12px;
    }

    @include lg {
      padding: 13px 18px;
      font-size: 13px;
      line-height: 17px;
    }
  }
  &.button-big {
    padding: 12px 17px;
    font-size: 15px;
    line-height: 20px;

    @include sm {
      padding: 12px 17px;
      font-size: 18px;
      line-height: 22px;
    }

    @include md {
      padding: 14px 18px;
      font-size: 16px;
      line-height: 22px;
    }

    @include lg {
      padding: 19px 24px;
      font-size: 23px;
      line-height: 29px;
    }
  }

  &:not(:disabled):hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22);
    opacity: 0.85;
  }

  &:disabled {
    color: #dcdcdc !important;
  }
}
