html[data-theme="light"] {
  .canvas-debugger.canvas-debugger-active {
    background-color: rgba(242, 242, 242, 0.959);
  }
}

html[data-theme="dark"] {
  .canvas-debugger.canvas-debugger-active {
    background-color: rgba(109, 109, 109, 0.959);
  }
}

.canvas-debugger {
  &.canvas-debugger-active {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .canvas-debugger-body {
      padding: 40px 45px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;

      .button-update {
        align-self: flex-start;
        margin-bottom: 1rem;
      }

      .react-json-view {
        padding: 20px;
        flex: 1;
        overflow: auto;
        background-color: transparent!important;
      }
    }
  }

  .show-debugger {
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 0.90em;
    color: var(--text-color-primary);
  }

  .close-debugger {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
  }
}