html[data-theme="light"] .modal {
  --background-modal-content: rgb(255, 255, 255);
}
html[data-theme="dark"] .modal {
  --background-modal-content: rgb(48, 48, 48);
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;

  &.ld {
    animation-duration: 0.3s;
  }

  & > .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  & > .modal-loading {
    background-color: transparent;
    color: var(--white);
  }

  & > .modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #5e5e5e;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
    background: rgba(255, 255, 255, 0.749);
    border: 1px solid #c3c0c0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;

    &:hover {
      background: rgba(255, 255, 255, 0.989);
    }

    @include md {
      font-size: 1.25em;
    }
  }

  & > .modal-content {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    background-color: var(--background-modal-content);
    border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding: 15px 20px;
    width: 100%;

    @include lg {
      width: auto;
    }
  }
}
