.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;

  &.ld {
    animation-duration: 0.3s;
  }

  & > .modal-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  & > .modal-content-loading {
    background-color: transparent;
    color: white;
  }

  & > .modal-content {
    z-index: 2;
    position: relative;
    max-width: 700px;
    max-height: 700px;

    .modal-close {
      position: absolute;
      right: 15px;
      top: 10px;
      color: #000000;
      cursor: pointer;
      font-size: 1.25em;
      padding: 7px;

      @include md {
        font-size: 1.25em;
      }
    }

    .modal-content-scrollable {
      background-color: #ffffff;
      max-height: inherit;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 15px 7px;
    }
  }
}
