.customization {
  height: 100%;
  width: 100%;
  min-height: inherit;

  .customization-empty {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: inherit;

    .wrapper-sad-svg {
      display: block;
      width: 70px;
    }
  }

  .customization-not-empty {
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
      text-align: center;
      font-size: 1.1rem;
      margin: 20px 0;
      padding: 0 1rem;
      line-height: 1.2rem;

      .meme-name {
        font-size: 0.7em;
        color: #8d8d8d;
        display: inline-block;
        margin: 0 auto;
        @include truncate(200px);
      }
    }

    .customization-textbox-section {
      padding: 13px 14px 23px 14px;
      .textarea-exdended {
        padding: 10px;
        width: 100%;
        border-radius: 2px;
        margin-bottom: 10px;
      }

      select {
        width: 100px;
        height: 2em;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        color: var(--blackOrWhite);
        padding-left: 5px;
        padding-right: 5px;
        background: transparent;
        border-color: var(--input-border-color);
        outline: none;
        &:focus {
          border-color: var(--blue-secondary);
        }

        option {
          color: #000000;
        }
      }

      .color-picker button {
        box-shadow: 0 0 0 1px var(--input-border-color);
      }
      input[type="checkbox"] {
        background-color: var(--white);
      }
    }

    .field-customization {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & + .field-customization {
        margin-top: 1em;
      }
    }

    .add-item-button {
      border-radius: 0;
      border: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      outline: none;
      background-color: var(--blue-primary);
      flex-shrink: 0;
      height: 54px;
      position: relative;
      color: #ffffff;
      font-size: 0.90rem;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.65);

      @include md {
        height: 36px;
        font-size: 0.77rem;
        box-shadow: none;
      }

      & + .add-item-button {
        border-top: 1px solid rgba(255,255,255,0.15);
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.65);
        margin-bottom: 8px;
      }

      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
      }

      span {
        display: inline;
        line-height: 1;
        font-weight: 500;
      }

      &:hover {
        background-color: var(--blue-secondary);
      }

      .icon-plus {
        margin-right: 7px;
      }
    }
  }
}
