.Customization {
  height: 100%;

  .customization-empty {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .wrapper-sad-svg {
      display: block;
      width: 100px;
    }
  }

  .customization-not-empty {
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
      text-align: center;
      font-size: 1.1em;
      margin: 20px 0;
    }

    .customization-textbox-section {
      padding: 10px 6px 23px 6px;
      .Textarea-exdended {
        padding: 10px;
        width: 100%;
        border-radius: 2px;
        margin-bottom: 10px;
      }

      select {
        width: 100px;
        height: 2em;
        background: transparent;
        border-color: var(--input-border-color);
        outline: none;
        &:focus {
          border-color: var(--blue-light);
        }
      }

      .Color-picker button {
        box-shadow: 0 0 0 1px var(--input-border-color);
      }
    }

    .field-customization {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & + .field-customization {
        margin-top: 1em;
      }
    }

    .add-text-button {
      border-radius: 0;
      border: 0;
      height: 40px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      outline: none;
      background-color: var(--blue);
      color: #ffffff;
      font-weight: 500;
      flex-shrink: 0;
      &:hover {
        background-color: var(--blue-light);
      }

      .icon-plus {
        margin-right: 7px;
      }
    }
  }
}
