.color-picker {
  position: relative;
  display: inline-block;

  .color-picker-button {
    display: block;
    width: 36px;
    height: 22px;
    outline: none;
    border: 3px solid #ffffff;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  .color-picker-popover {
    position: absolute;
    z-index: 2;
    right: 0;
  }

  .color-picker-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
