.tools {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tools-list {
    display: flex;
    flex-direction: column;

    & > li {
      border-bottom: 1px solid rgba(200, 200, 200, 0.397);
    }
  }

  .tools-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
    font-size: 13px;

    &:not(:disabled) {
      color: #444444;
      &:hover {
        opacity: 0.65;
      }
    }
  }
}