.page.not-found {
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
    color: var(--whiteOrBlack);
    margin-bottom: 2rem;
  }

  code {
    font-family: monospace;
  }

  a {
    margin-top: 30px;
    color: var(--blue-secondary);
  }
}