.page.about {
  .about-body {
    padding-top: 80px;

    h1 {
      font-size: 2rem;
      color: var(--blackOrWhite);
      margin-bottom: 2rem;
    }

    p {
      max-width: 800px;
      margin-top: 0.75rem;
      margin-bottom: 1rem;
      line-height: 1.35rem;
    }

    a {
      color: var(--text-color-link);
      &:hover {
        opacity: 0.87;
      }
    }

    iframe {
      margin-top: 10px;
    }
  }
}
