.page.home {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 20px;

  .top-actions {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;

    .theme-button {
      font-size: 1.05rem;
      &[data-theme="light"] {
        color: rgb(226, 189, 0);
      }
      &[data-theme="dark"] {
        color: rgb(255, 255, 0);
      }
    }
  }

  .content-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-title {
    margin-top: 4rem;

    & > a {
      width: 350px;
      height: 68px;
      position: relative;
      display: block;
      margin: 0 auto 8px;

      & > img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    & > p {
      font-size: 18px;
      line-height: 22px;
      max-width: 600px;
      text-align: center;
      margin: 20px auto;
    }
  }

  div.home-content {
    width: 100%;

    a {
      text-decoration: none;
      width: 100%;
      display: block;
    }

    button.home-get-started-btn {
      width: 100%;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }

    & > ul.home-last-memes {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 2em;
      list-style: none;

      li {
        &:not(:first-child) {
          display: none;
          @include md {
            display: block;
          }
        }
      }

      .home-last-memes-article {
        img {
          border: 2px solid var(--blackOrWhite);
          @media (max-width: #{$screen-md-min}) {
            height: auto;
            width: 400px;
          }
        }

        @include md {
          padding: 0 12px;
          width: 200px;
          max-height: none;
        }
      }
    }
  }
}