.qa.page {
  .qa-body {
    padding-top: 80px;

    h1 {
      color: var(--blackOrWhite);
      padding-bottom: 30px;
      font-size: 1.55em;
    }

    h2 {
      color: var(--blackOrWhite);
      padding-bottom: 0.75em;
      font-size: 1.3em;
    }

    p {
      font-size: 0.95rem;
      margin-bottom: 2.5rem;
      color: #868686;
      line-height: 1.3;

      a {
        color: var(--blue-secondary);
      }
    }
  }
}