.page.studio {
  height: 100vh;
  --height-body: calc(100vh - var(--header-height));
  --width-aside: 320px;

  .studio-body {
    width: 100%;
    height: var(--height-body);
    display: grid;
    grid-template-rows: 60px auto var(--tools-item-height);
    overflow: hidden;
    background-color: var(--background-primary);

    @include lg {
      grid-template-rows: auto;
      grid-template-columns: var(--tools-width) auto var(--width-aside);
    }

    .studio-content {
      width: 100%;
      height: 100%;

      @include lg {
        height: var(--height-body);
      }
    }

    .studio-content {
      padding: 7px;
      background: url('/images/particles.svg') no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;

      @include lg {
        padding: 50px 40px;
        border-right: 2px solid var(--border-color-aside);
      }

      & > div.studio-content-overley {
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(0.4) brightness(88%) blur(4px);
        background-position: center center;
        position: absolute;
        left: -4px;
        top: -4px;
        bottom: -4px;
        right: -4px;
      }

      @include lg {
        padding: 50px 100px;
      }


      .canvas-debugger {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
      }

      .studio-spinner {
        position: absolute;
        right: 10px;
        bottom: 6px;
        opacity: 0;
        z-index: 99;

        &.studio-spinner-active {
          opacity: 1;
          transition-delay: 0.1s;
          transition-duration: 0.3s;
          transition-property: opacity;
        }
      }

      .recover-version-box {
        position: absolute;
        left: 50%;
        width: 170px;
        margin-left: -85px;
        bottom: 30px;
        z-index: 991;
        background-color: rgba(255,255,255,0.89);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
        color: #444444;
        text-align: center;
        line-height: 1.2rem;
        border: 1px solid #e9ecef;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 0.82rem;
        animation-delay: 1s;
        animation-duration: 0.3s;

        &-date::first-letter {
          text-transform: uppercase;;
        }
      }

      &.studio-content-active {
        background: none;
      }

      .empty-meme {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .choose-meme-img {
          max-width: 100%;
          pointer-events: none;
          @media (max-width: #{$screen-sm-min}) {
            height: auto;
            width: 300px;
          }
        }

        p {
          margin-top: 1em;
          line-height: 20px;
        }

        .empty-meme-buttons-container {
          display: flex;
          flex-direction: column;
          margin-top: 1em;
          width: 300px;

          .button {
            margin-top: 10px;
          }
        }

        .import-image-label {

          .import-image-label-input {
            visibility: hidden;
            width: 0;
            height: 0;
            cursor: default;
            opacity: 0;
            position: absolute;
          }

          .import-image-label-text {
            text-decoration: underline;
            color: rgb(112, 158, 232);
            cursor: pointer;
          }
        }

        .import-image-error {
          color: var(--red);
          font-size: 0.95rem;
        }
      }
    }
  }
}