.page.terms {
  .terms-body {
    padding-top: 80px;

    h1 {
      font-size: 2rem;
      color: var(--blackOrWhite);
      margin-bottom: 2.5rem;
    }

    h2 {
      padding-left: 1rem;
      font-size: 1.5rem;
      color: var(--blackOrWhite);
      margin-bottom: 2.5rem;
      margin-top: 2rem;
    }

    h3 {
      padding-left: 2rem;
      font-size: 1.2rem;
      color: var(--blackOrWhite);
      margin-bottom: 2.5rem;
      margin-top: 2rem;
    }

    p {
      margin-top: 0.75rem;
      margin-bottom: 1rem;
      line-height: 1.35rem;
    }

    ul {
      margin-top: 2rem;
      list-style: disc;
      padding-left: 1rem;

      li {
        padding-left: 1rem;
        margin: 0.75rem 0;
      }
    }

    a {
      color: var(--text-color-link);
      &:hover {
        opacity: 0.87;
      }
    }

    iframe {
      margin-top: 10px;
    }
  }
}
