.Wrapper-canvas {
  height: 100%;
  width: 100%;
  position: relative;

  .canvas,
  .wrapper-text-boxes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }

  .wrapper-text-boxes {
    z-index: 2;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}
