.footer {
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  font-size: 0.7rem;
  padding-top: 4rem;

  @include sm {
    font-size: 0.9rem;
  }

  .footer-links {
    display: flex;
    justify-content: center;

    a {
      display: block;
      margin: 0 10px;
      color: rgba(161, 161, 161, 0.884);

      &:hover {
        color: rgba(219, 219, 219, 0.884);
      }
    }
  }
}