@font-face {
  font-family: 'Times New Roman';
  src: url('/fonts/draw/TimesNewRomanPSMT.woff2') format('woff2'),
      url('/fonts/draw/TimesNewRomanPSMT.woff') format('woff'),
      url('/fonts/draw/TimesNewRomanPSMT.ttf') format('truetype'),
      url('/fonts/draw/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/fonts/draw/ArialMT.woff2') format('woff2'),
      url('/fonts/draw/ArialMT.woff') format('woff'),
      url('/fonts/draw/ArialMT.ttf') format('truetype'),
      url('/fonts/draw/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Black';
  src: url('/fonts/draw/Arial-Black.woff2') format('woff2'),
      url('/fonts/draw/Arial-Black.woff') format('woff'),
      url('/fonts/draw/Arial-Black.ttf') format('truetype'),
      url('/fonts/draw/Arial-Black.svg#Arial-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('/fonts/draw/TrebuchetMS.woff2') format('woff2'),
      url('/fonts/draw/TrebuchetMS.woff') format('woff'),
      url('/fonts/draw/TrebuchetMS.ttf') format('truetype'),
      url('/fonts/draw/TrebuchetMS.svg#TrebuchetMS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('/fonts/draw/ComicSansMS.woff2') format('woff2'),
      url('/fonts/draw/ComicSansMS.woff') format('woff'),
      url('/fonts/draw/ComicSansMS.ttf') format('truetype'),
      url('/fonts/draw/ComicSansMS.svg#ComicSansMS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/draw/Helvetica.woff2') format('woff2'),
      url('/fonts/draw/Helvetica.woff') format('woff'),
      url('/fonts/draw/Helvetica.ttf') format('truetype'),
      url('/fonts/draw/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Andale Mono';
  src: url('/fonts/draw/AndaleMono.woff2') format('woff2'),
      url('/fonts/draw/AndaleMono.woff') format('woff'),
      url('/fonts/draw/AndaleMono.ttf') format('truetype'),
      url('/fonts/draw/AndaleMono.svg#AndaleMono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/draw/Impact.woff2') format('woff2'),
      url('/fonts/draw/Impact.woff') format('woff'),
      url('/fonts/draw/Impact.ttf') format('truetype'),
      url('/fonts/draw/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

