.Modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > .modal-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  & > .modal-content-loading {
    background-color: transparent;
    color: white;
  }

  & > .modal-content {
    max-width: 700px;
    min-width: 300px;
    max-height: 700px;
    min-height: 300px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
