.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.75em;

  &.ld {
    animation-duration: 0.3s;
  }

  & > .modal-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  & > .modal-content-loading {
    background-color: transparent;
    color: white;
  }

  & > .modal-content {
    max-width: 700px;
    min-width: 300px;
    max-height: 700px;
    min-height: 300px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    padding: 15px 7px;
    position: relative;

    .modal-close {
      position: absolute;
      right: 15px;
      top: 10px;
      color: #444444;
      cursor: pointer;
    }
  }
}
