.gallery {
  list-style: none;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  max-width: 402px;
  width: 100%;

  .gallery-item {
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
}
