.Gallery {
  list-style: none;

  .meme__item {
    border: 1px solid rgba(52, 52, 52, 0.671);
    cursor: pointer;

    & + .meme__item {
      margin-top: 8px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
