.Gallery {
  list-style: none;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;

  .meme__item {
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
}
