<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" value="notranslate" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@TrustedSheriff"/>
    <meta name="twitter:title" content="Portfolio de Victor de la Fouchardière"/>
    <meta name="twitter:description" content="Besoin d&#x27;un développeur web ?"/>
    <meta name="twitter:image" content="https://www.victor-de-la-fouchardiere.fr/static/victor-de-la-fouchardiere.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Portfolio de Victor de la Fouchardière"/><meta property="og:description" content="Besoin d&#x27;un développeur web ? Découvrez le profil de Victor de la Fouchardiere"/>
    <meta property="og:url" content="https://www.victor-de-la-fouchardiere.fr"/>
    <meta property="og:site_name" content="Victor de la Fouchardière | Portfolio"/>
    <meta property="og:image" content="https://www.victor-de-la-fouchardiere.fr/static/victor-de-la-fouchardiere.png"/>
    <link rel="icon" href="static/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/loadingio/transition.css@v2.0.0/dist/transition.min.css"
    />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Meme Studio</title>
    <!-- Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.env.GA_TRACKING_ID %>"></script>
    <% if (htmlWebpackPlugin.options.env.IS_DEV) { %>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= htmlWebpackPlugin.options.env.GA_TRACKING_ID %>', { 'send_page_view': false });
      </script>
    <% } else { %>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= htmlWebpackPlugin.options.env.GA_TRACKING_ID %>', { 'send_page_view': true });
      </script>
    <% } %>
    <!-- End Google Analytics -->
  </head>
  <body>
    <div id="app-root"></div>
    <% if (htmlWebpackPlugin.options.env.IS_DEV) { %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <% } else { %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <% } %>
  </body>
</html>
