<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#4d90fe"/>
    <meta name="google" value="notranslate" />
    <link rel="apple-touch-icon" href="/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114x114.png" />
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@TrustedSheriff"/>
    <meta name="twitter:title" content="Meme Studio | Make your own Meme"/>
    <meta name="twitter:description" content="Create a meme from JPG or PNG images or from your own image. Edit it and make your custom meme"/>
    <meta name="twitter:image" content="https://www.meme-studio.io/meme-studio.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Meme Studio | Make your own Meme"/>
    <meta property="og:description" content="Create a meme from JPG or PNG images or from your own image. Edit it and make your custom meme"/>
    <meta property="og:url" content="https://www.meme-studio.io" />
    <meta property="og:site_name" content="Meme Studio"/>
    <meta property="og:image" content="https://www.meme-studio.io/meme-studio.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="preload" href="images/choose-meme.svg" as="font" type="image/svg+xml" crossorigin="anonymous">
    <script>
      const theme = localStorage.getItem('theme') || 'light'
      document.documentElement.setAttribute('data-theme', theme)
    </script>

    <title>Meme Studio | Make your own Meme</title>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.env.GA_TRACKING_ID %>"></script>
    <% if (htmlWebpackPlugin.options.env.IS_DEV) { %>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= htmlWebpackPlugin.options.env.GA_TRACKING_ID %>', { 'send_page_view': false });
      </script>
    <% } else { %>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= htmlWebpackPlugin.options.env.GA_TRACKING_ID %>', { 'send_page_view': true });
      </script>
    <% } %>
    <!-- End Google Analytics -->
  </head>
  <body>
    <div id="app-root"></div>
    <% if (htmlWebpackPlugin.options.env.IS_DEV) { %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <% } else { %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <% } %>
  </body>
</html>
