@import 'reset';
@import './global/variables';
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

html {
  font-size: 24px;
}

.hide {
  display: none !important;
}

body {
  background-color: var(--azure);
  font-family: 'Alata', sans-serif;
  color: var(--grey-dark);

  * {
    box-sizing: border-box;
  }

  #root {
    min-height: 100vh;
    position: relative;

    .wrapper-container {
      min-height: inherit;
      display: flex;
      flex-direction: column;
      background: url('/images/particles.svg') no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .is-loading-memes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper-studio {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    & > .studio-header {
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
      z-index: 9999;
      position: relative;
      width: 100%;
    }

    & > .studio-body {
      width: 100%;
      height: calc(100vh - var(--header-height));
      top: var(--header-height);
    }
  }
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;

  div.intro-title {
    margin-top: 150px;

    & > h1 {
      font-size: 42px;
      letter-spacing: 0;
      font-weight: 600;
      margin-bottom: 8px;
      line-height: 46px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    & > p {
      font-size: 18px;
      line-height: 22px;
      max-width: 600px;
      text-align: center;
      margin: 20px auto;
    }
  }

  div.intro-content {
    & > button.get-started-button {
      width: 100%;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      transition-property: background-color;
      transition-duration: 0.3s;

      &:hover {
        background-color: var(--blue-light);
      }
    }

    & > ul.last-memes {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 2em;
      list-style: none;

      .last-meme__article {
        padding: 0 12px;
        img {
          width: 200px;
          border: 2px solid #444444;
        }
      }
    }
  }
}

.Studio {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto 320px;
  overflow: hidden;
  box-sizing: border-box;

  .Studio__content {
    border-right: 1px solid #e9ecef;
    background-color: #f2f3f8;
    padding: 50px 100px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    & > div {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: scroll;
    }

    .canvas,
    .wrapper-text-boxes {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    }

    .wrapper-text-boxes {
      z-index: 2;

      .text-box {
        background-color: transparent;
        border: 2px dotted grey;
        position: absolute;
        cursor: move;
      }
    }
  }

  .Studio__aside {
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    width: 320px;
    flex-direction: column;
  }

  .buttons__actions {
    height: 50px;
    display: flex;
    margin-bottom: 5px;
    .Button {
      flex: 1;
      position: relative;
      border-radius: 0;
      &.tab-button-active {
        background-color: var(--blue-light);
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .studio__tab {
    &:not(.studio__tab__active) {
      display: none !important;
    }

    &#gallery-tab,
    &#customization-tab {
      width: 100%;
      padding: 0 4px;
      flex: 1;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.Export {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .meme-actions-share {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    .share-button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px;
      outline: none;

      svg {
        width: 18px;
        height: auto;
      }

      &#share-local {
        background-color: #aeb5bc;
        color: #ffffff;
      }
      &#share-facebook {
        background-color: #3b5998;
        color: #ffffff;
      }
      &#share-twitter {
        background-color: #4099ff;
        color: #ffffff;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
