@import 'reset';
@import './global/variables';
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

html {
  font-size: 16px;
}

body {
  background-color: var(--azure);
  font-family: 'Alata', sans-serif;
  color: var(--grey-dark);
  background: url('/images/particles.svg') no-repeat;
  background-position: center center;
  background-size: cover;

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  #app-root {
    min-height: 100vh;
    position: relative;
  }
}

.main-wrapper {
  flex: 1;
  display: flex;
  min-height: inherit;

  & > div.page {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div.content-one {
      flex: 1;
    }

    &.page-studio {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      background-color: #ffffff;
    }
  }
}

.is-loading-memes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  .lang-selector {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .intro-title {
    & > h1 {
      font-size: 42px;
      letter-spacing: 0;
      font-weight: 600;
      margin-bottom: 8px;
      line-height: 46px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    & > p {
      font-size: 18px;
      line-height: 22px;
      max-width: 600px;
      text-align: center;
      margin: 20px auto;
    }
  }

  div.intro-content {
    width: 100%;

    & > button.intro-get-started-btn {
      width: 100%;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      transition-property: background-color;
      transition-duration: 0.3s;

      &:hover {
        background-color: var(--blue-light);
      }
    }

    & > ul.intro-last-memes {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 2em;
      list-style: none;

      li {
        &:not(:first-child) {
          display: none;
          @include md {
            display: block;
          }
        }
      }

      .intro-last-memes-article {
        img {
          border: 2px solid #444444;
        }

        @include md {
          padding: 0 12px;
          img {
            width: 200px;
          }
        }
      }
    }
  }
}

.page-studio {
  .studio-header {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
    z-index: 9999;
    position: relative;
    width: 100%;
  }

  .studio-body {
    width: 100%;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto var(--tools-item-height);
    overflow: hidden;

    @include lg {
      border-radius: 3px;
      grid-template-rows: auto;
      grid-template-columns: var(--tools-width) auto var(--aside-width);
    }

    .studio-tools,
    .studio-content,
    .studio-aside {
      height: 100%;
      width: 100%;
    }

    .studio-tools {
      order: 3;
      @include lg {
        order: 1;
      }
    }
    .studio-aside {
      order: 1;
      @include lg {
        order: 3;
      }
    }
    .studio-content {
      order: 2;
    }

    .studio-tools {
      z-index: 2;
      height: 100%;
      box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.29);

      @include lg {
        width: var(--tools-width);
      }
    }

    .studio-content {
      border-right: 1px solid #e9ecef;
      background-color: #f2f3f8;
      padding: 50px 40px;
      background: url('/images/particles-studio.svg') no-repeat;
      background-position: center center;
      background-size: cover;

      @include lg {
        padding: 50px 100px;
      }

      &.studio-content-active {
        background: none;
      }

      .empty-meme {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .choose-meme-svg,
        .choose-meme-svg svg {
          width: 100%;
          height: auto;
          max-width: 360px;
        }

        p {
          margin-top: 1em;
          line-height: 20px;
        }

        .import-image-label {

          .import-image-label-input {
            visibility: hidden;
            width: 0;
            height: 0;
            cursor: default;
            opacity: 0;
            position: absolute;
          }

          .import-image-label-text {
            text-decoration: underline;
            color: var(--blue);
            cursor: pointer;
            &:hover {
              color: var(--blue-light);
            }
          }
        }
      }
    }

    .studio-aside {
      overflow: hidden;
      background-color: #f0f0f0;
      display: flex;
      width: 100%;
      flex-direction: row;

      @include lg {
        flex-direction: column;
        width: var(--aside-width);
      }

      .studio-aside-header {
        height: 100%;
        width: 100%;
        display: flex;
        flex-shrink: 0;

        @include lg {
          height: 50px;
          margin-bottom: 2px;
        }

        .studio-aside-header-btn {
          flex: 1;
          position: relative;
          border-radius: 0;
          font-size: 24px;

          &.studio-aside-header-btn-active {
            background-color: var(--blue-light);
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .studio-aside-content {
        width: 100%;
        padding: 0 2px;
        height: calc(100% - 50px);
        overflow-y: auto;
        overflow-x: hidden;

        .tab {
          height: 100%;
        }
      }
    }
  }
}

.export {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .export-title {
    text-align: center;
    font-size: 1.55em;
  }

  .meme-wrapper-img {
    position: relative;
    .meme-img {
      margin-top: 20px;
      max-width: 100%;
      max-height: 490px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    &::after {
      content: '';
      z-index: 2;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
    }
  }

  .meme-info-size {
    padding: 3px 1px;
    color: var(--grey-dark);
    text-align: right;
    font-size: 12px;
    margin-bottom: 0;
  }

  .meme-actions-share {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
      text-decoration: none;
    }

    .button-export {
      padding: 12px 22px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;

      .icon-arrow-circle-down {
        margin-right: 7px;
      }
    }
  }
}

[data-tooltip] {
  position: static;

  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  @include lg {
    [data-tooltip]:hover::before,
    [data-tooltip]:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &::before {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 6px 5px;
    max-width: 160px;
    border-radius: 3px;
    color: #ffffff;
    background-color: var(--background-tooltip);
    content: attr(data-tooltip);
    text-align: center;
    font-size: 11.5px;
    line-height: 1.2;
  }

  &::after {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--background-tooltip);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  @include lg {
    position: relative;
  }
}

.modal#customization-tab .modal-content {
  width: 75%;
  margin: 0 auto;
  .customization-empty {
    margin-top: 3px;
    padding: 30px;
  }

  @include md {
    max-width: 500px;
  }
}