@import 'reset';
@import './global/variables';
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

html {
  font-size: 24px;
}

body {
  background-color: var(--azure);
  font-family: 'Alata', sans-serif;
  color: var(--grey-dark);

  * {
    box-sizing: border-box;
  }

  #root {
    min-height: 100vh;
    position: relative;

    .wrapper-container {
      min-height: inherit;
      display: flex;
      flex-direction: column;
      background: url('https://loading.io/mod/background/particles/index.svg') no-repeat;
      background-position: center center;
      background-size: cover;
    }

    #fork-me {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 9999999;
      @media (min-width: 1250px) {
        display: block;
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .is-loading-memes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > .main__header,
  & > .main__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.main__header {
  h1 {
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 46px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
}

.main__body {
  &__intro {
    margin-top: 150px;
    .get_started_button {
      width: 100%;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      transition-property: background-color;
      transition-duration: 0.3s;

      &:hover {
        background-color: var(--blue-light);
      }
    }

    .last-memes {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 2em;

      .last-meme__article {
        padding: 0 12px;
        img {
          width: 200px;
          border: 2px solid #444444;
        }
      }
    }
  }

  &__studio {
    margin-top: 10px;
  }
}

.Studio {
  width: 100%;
  max-width: 960px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.945);
  border: 2px solid rgba(52, 52, 52, 0.274);
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto 280px;
  overflow: hidden;

  .Studio__content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(52, 52, 52, 0.274);
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  .Studio__aside {
    overflow: hidden;
  }

  .buttons__actions {
    height: 50px;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(52, 52, 52, 0.274);

    .active {
      background-color: var(--blue);
      color: var(--azure);
    }

    button {
      flex: 1;
      background-color: transparent;
      text-align: center;
      border: 0;
      outline: none;
      cursor: pointer;

      & + button {
        border-left: 1px solid rgba(52, 52, 52, 0.274);
        margin-right: -1px;
      }
    }
  }

  .studio__tab {
    &:not(.studio__tab__active) {
      display: none !important;
    }

    &#gallery-tab {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 0 4px;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
