@keyframes ldio-y2aijkbk0f {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-y2aijkbk0f div {
  left: 48px;
  top: 23px;
  position: absolute;
  animation: ldio-y2aijkbk0f linear 0.3496503496503497s infinite;
  background: #c1cbd1;
  width: 4px;
  height: 14px;
  border-radius: 1.96px / 1.96px;
  transform-origin: 2px 27px;
}.ldio-y2aijkbk0f div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.3205128205128205s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.2913752913752914s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.26223776223776224s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.2331002331002331s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.20396270396270397s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.17482517482517482s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.1456876456876457s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.11655011655011654s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.08741258741258741s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.05827505827505827s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.029137529137529136s;
  background: #c1cbd1;
}.ldio-y2aijkbk0f div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #c1cbd1;
}
.loadingio-spinner-spinner-4fzss09kmlz {
  width: 68px;
  height: 68px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-y2aijkbk0f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.68);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-y2aijkbk0f div { box-sizing: content-box; }