.tools {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3f3f3f;

  &,
  .tools-list {
    display: flex;
    flex-direction: row;

    @include lg {
      flex-direction: column;
    }
  }

  @include lg {
    li {
      border-bottom: 1px solid rgba(200, 200, 200, 0.397);
    }

    ul.tools-list:last-child li:last-child {
      border-bottom: 0;
    }
  }

  .tools-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--tools-width);
    height: var(--tools-item-height);
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
    font-size: 13px;

    &#show-text-areas {
      display: none;

      @include lg {
        display: block;
      }
    }

    &:disabled {
      color: #6a6a6a;
      cursor: not-allowed;
    }

    &[data-tooltip]::after,
    &[data-tooltip]::before {
      left: 110%;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }

    &[data-tooltip]::before {
      margin-bottom: 0;
      white-space: nowrap;
      text-align: left;
      padding: 6px 7px;
    }

    &[data-tooltip]::after {
      border-bottom: 5px solid transparent;
      border-right: 5px solid var(--background-tooltip);
      border-top: 5px solid transparent;
      border-left: 0;
    }

    &:not(:disabled) {
      color: #fdfdfd;
      &:hover {
        color:#ffffff;
      }
    }
  }
}