html[data-theme="light"] .tools {
  --background-tools: rgb(255, 255, 255);
  --text-tools: rgb(68, 68, 68);
  --text-hover-tools: rgb(0, 0, 0);
  --text-disabled: rgb(201, 202, 202);
}
html[data-theme="dark"] .tools {
  --background-tools: rgb(48, 48, 48);
  --text-tools: #ffffff;
  --text-hover-tools: #c5c5c5;
  --text-disabled:rgb(146, 146, 146);
}

.tools {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-tools);
  color: var(--text-tools);
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.29);
  z-index: 3;
  order: 3;
  position: relative;

  &,
  .tools-list {
    display: flex;
    flex-direction: row;

    @include lg {
      flex-direction: column;
    }
  }

  @include lg {
    order: 1;
    width: var(--tools-width);
    height: var(--height-body);

    li {
      border-bottom: 1px solid rgba(200, 200, 200, 0.397);
    }

    ul.tools-list:last-child {
      li {
        border-top: 1px solid rgba(200, 200, 200, 0.397);
        border-bottom: 0;

        button {
          &[data-theme="light"] {
            color: rgb(226, 189, 0);
          }
          &[data-theme="dark"] {
            color: rgb(255, 255, 0);
          }
        }
      }
    }
  }

  .tools-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--tools-width);
    height: var(--tools-item-height);
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    padding: 1px 7px 2px;
    font-size: 13px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;

    &#show-text-areas {
      display: none;

      @include lg {
        display: block;
      }
    }

    &:disabled,
    &.tools-list-btn-disabled {
      color: var(--text-disabled);
      cursor: not-allowed;
    }

    &[data-tooltip]::after,
    &[data-tooltip]::before {
      left: 110%;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      display: none;

      @include lg {
        display: block;
      }
    }

    &[data-tooltip]::before {
      margin-bottom: 0;
      white-space: nowrap;
      text-align: left;
      padding: 6px 7px;
    }

    &[data-tooltip]::after {
      border-bottom: 5px solid transparent;
      border-right: 5px solid var(--background-tooltip);
      border-top: 5px solid transparent;
      border-left: 0;
    }

    &:not(.tools-list-btn-disabled):hover {
      color: var(--text-hover-tools);
    }
  }
}