@import 'reset';

html {
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Alata', sans-serif;
  color: rgb(68, 68, 68);
  background-color: rgb(255, 255, 255);

  * {
    box-sizing: border-box;
    color-scheme: dark;
  }

  #app-root {
    min-height: 100vh;
    position: relative;
  }
}

.react-responsive-modal-root {
  .react-responsive-modal-modal {
    background-color: rgb(48, 48, 48);
    color: #ffffff;
  }

  .react-responsive-modal-closeButton {
    color: #ffffff;

    svg {
      fill: currentColor;
    }
  }
}