html {
  // colors
  --draggable-area-color: rgba(14,42,71,.6);
  --background-tooltip: rgba(0,0,0,0.79);
  --red: #de4a4a;
  --grey-light: #cccccc;
  --grey-dark: #444444;

  // sizes
  --header-height: 80px;
  --tools-width: 54px;
  --tools-item-height: 54px;

  // themes
  &[data-theme='dark'] {
    /* General */
    --white: rgb(240, 240, 240);
    --blackOrWhite: rgb(255, 255, 255);
    --background-primary: rgb(68, 68, 68);
    --background-secondary: rgb(48, 48, 48);
    --blue-primary: rgb(48, 91, 161);
    --blue-secondary: rgb(71, 121, 201);
    --text-color-primary: rgb(212, 212, 212);
    --text-color-link: #89b2f5;
    /* Specific */
    --input-border-color: rgba(189, 189, 189, 0.541);
    --border-color-aside: rgb(88, 88, 88);
    --background-button-disabled: rgb(146, 146, 146);
  }

  &[data-theme='light'] {
     /* General */
    --white: rgb(255, 255, 255);
    --blackOrWhite: rgb(0, 0, 0);
    --background-primary: rgb(255, 255, 255);
    --background-secondary: rgb(63, 63, 63);
    --text-color-primary: rgb(68, 68, 68);
    --blue-primary: rgb(77, 144, 254);
    --blue-secondary: rgb(100, 159, 255);
     /* Specific */
    --input-border-color: rgb(200, 200, 200);
    --border-color-aside: rgb(204, 204, 204);
    --background-button-disabled: rgb(201, 202, 202);
    --text-color-link: #6aa2ff;
  }
}
